In [2]:
# Importing all modules
import pandas as pd
import numpy as np
from datetime import datetime
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
pd.set_option('display.max_rows', 500)

# RRRR

![CRISP_DM](../reports/figures/CRISP_DM.png)

# Data Preparation
* focus is always to understand the final data structure
* support each step by visual analytics

# Johns Hopkins GITHUB csv data

In [3]:
data_path='../data/raw/COVID-19/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
pd_raw_corona_data=pd.read_csv(data_path)
pd_raw_corona_data.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,6/13/22,6/14/22,6/15/22,6/16/22,6/17/22,6/18/22,6/19/22,6/20/22,6/21/22,6/22/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,181120,181178,181236,181465,181534,181574,181666,181725,181808,181912
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,276731,276821,276821,276821,277141,277141,277409,277444,277663,277940
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,265937,265943,265952,265964,265968,265971,265975,265985,265993,266006
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,43224,43224,43449,43449,43449,43449,43449,43449,43449,43774
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,99761,99761,99761,99761,99761,99761,99761,99761,99761,99761